// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$dark: #110101;
$secondary: #530909;


@import '../node_modules/bootstrap/scss/bootstrap';



// ---------------------------------------------------------
// Then add additional custom code here
// scss-docs-start theme-color-variables

// DEPENDECIES
// Bootstrap icons
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css');

// ALLWAYS APPLIED STYLES
nav {
    height: 10vh;
}

main {
    min-height: 90vh;
}

// STYLES APPLIED ONLY TO SMALL SCREENS
@media (max-width: 768px) {
    #navbarSupportedContent {
        position: absolute;
        top: 71px;
        left: 2px;
        min-width: 25vw !important;
        background-color: $secondary-opac;
    }

    .nav-link {
        margin-left: 2vw;
    }
}

// STYLES APPLIED ONLY TO LARGE SCREENS
@media (max-width: 768px) {

}

